

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.container {
  
  max-width: 100%;
}
.Page-Top {
  background: lightblue;
}
.Heading {
  font-size: 300%;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

.head {
  display: flex;
}

.Heading img {
  margin-right: 1%;
}
marquee {
  color: darkred;
  text-decoration: red;
  font-weight: bold;
}
.bg-image {
  /* The image used */
  padding-top: 10%;
  margin-top: 10%;
  background: url('New Picture (56).bmp');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.navbar {
  background: grey;
  text-shadow: 1px 1px black;
  padding: 1%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.navbar-content {
  display: flex;
}

.navbar-content li {
  margin: 3%;
  list-style-type: none;
}

.navbar-content li a {
  text-decoration: none;
  cursor: pointer;
  color: bisque;
}
.list-items:hover {
  background-color: red;
}

.body-container {
 
  height: 70vh;
  width: 100%;
  display: flex;
  
}

.book-ticket-container {
  width: 50%;
  height: 110vh;
  margin: auto;
  padding: 20px 10px 20px 40px;
  border: 2px solid black;
  background-color: lightseagreen;
}

footer {
  position: relative;
  bottom: 0px;
  background: black;
  width: 100%;
  color: white;
}
.footer-text {
  text-align: center;
}
