body{ 
    line-height: 1.5;
    font-family: Calibri, Helvetica, sans-serif;
}
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 .container{
  
   max-width:100%;
 }
 .Page-Top{
   background: lightblue;
  
 }
 .bg-image {
  /* The image used */
  padding-top: 10%;
  margin-top: 10%;
  background: url('https://i.ytimg.com/vi/KuDn-EWuZew/maxresdefault.jpg');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
/* .background{
    background: url("https://i.ytimg.com/vi/KuDn-EWuZew/maxresdefault.jpg"); 
    height: 100vh;
width: 100vw;
background-size: 100% 100%;
}*/
 .Heading{
   font-size: 300%;
   font-family: 'Poppins', sans-serif;
   color: black;
   font-weight: bold;
 }
 
 .head{
   display: flex;
 }
 
 .Heading img{
   
   margin-right: 1%;
 }
 h3{
    margin-top: 2%;
      font-family: Calibri; 
      font-size: 25pt;         
      font-style: normal; 
      font-weight: bold; 
      color:red;
      text-align: center; 
      text-decoration: underline
    }


.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
marquee{
    
    color: darkred;
    text-decoration: red;
    font-weight: bold;
    font-size: 200%;
}
/*#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    overflow: hidden;
    object-fit: fill;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}*/

.credentials{
    border: 5px solid grey;
    width: 40%;
    height: 100%;
    align-self:center;
   align-items: center;
   justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background: lightseagreen;
    margin:auto;
    font-family: 'Merriweather', serif;
}

.credentials div{
    margin: 2%;
}

.credentials div input{
    color: black;
    height: 20px;
}

.credentials div button{
    background: black;
    color: white;
    position: relative;
    left: -25%;
    width: 40%;
    height: 60%;
    border: 3.5px solid white;
    padding: 2%;
    position: relative;
    margin:auto;
    align-items: center;
    align-content: center;
}

.credentials div button:hover{
    background: white;
    color:  black;
    border: 3.5px solid black;
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0px;
    background: black;
    width: 100%;
    color: white;
}
.footer-text{
    text-align: center;
}
