

body{
  line-height: 1.5;
}
h1,h2,h3,h4,h5,h6{
  color: black;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.container{
  
  max-width:100%;
}
.Page-Top{
  background: lightblue;
 
}
/*.background{
    background: url("https://i.ytimg.com/vi/KuDn-EWuZew/maxresdefault.jpg"); 
    height: 100vh;
width: 100vw;
background-size: 100% 100%;
}*/


/*.bg-image {*/
  /* The image used */
  /*background-image: url("https://i.ytimg.com/vi/KuDn-EWuZew/maxresdefault.jpg");*/

  /* Add the blur effect */
  /*filter: blur(8px);
  -webkit-filter: blur(8px);*/

  /* Full height */
  /*height: 100%;*/

  /* Center and scale the image nicely */
/*  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/ 

/*.background {
  background-image: url(https://source.unsplash.com/Q7PclNhVRI0);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}*/

 .bg-image {
  /* The image used */
  padding-top: 10%;
  margin-top: 10%;
  background: url('https://i.ytimg.com/vi/KuDn-EWuZew/maxresdefault.jpg');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
/*.blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px); 
  height: 100vh;
  width: 50%;
}*/
.Heading{
  font-size: 300%;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-weight: bold;
}

.head{
  display: flex;
}

.Heading img{
  
  margin-right: 1%;
}
.registerbtn {  
  background-color: red;  
  color: white;  
  padding: 10px ;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 30%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  

h3{
  margin-top: 2%;
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:darkred;
    text-align: center; 
    text-decoration: underline
  }
  
  table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    background: bisque;
    background:rgba(0, 255, 255, 0.616);
    
    border-collapse: collapse; 
    border: 2px solid navy
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    overflow: hidden;
    object-fit: fill;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
  marquee{
    
    color: darkred;
    text-decoration: red;
    font-weight: bold;
    font-size: 200%;
}
.body-container {
 
  height: 70vh;
  width: 100%;
  display: flex;
  
}

.book-ticket-container {
  width: 52%;
  height: 105vh;
  margin: auto;
  padding: 20px 10px 20px 40px;
  border: 2px solid black;
  background-color: lightseagreen;
}


footer{
  position: relative;
  bottom: 0px;
  background: black;
  width: 100%;
  color: white;
}
.footer-text{
  text-align: center;
}