

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.container {
  
  max-width: 100%;
}
.Page-Top {
  background: lightblue;
}
.Heading {
  font-size: 300%;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
}

.head {
  display: flex;
}

.Heading img {
  margin-right: 1%;
}
marquee {
  color: darkred;
  text-decoration: red;
  font-weight: bold;
}
.bg-image {
  /* The image used */
  padding-top: 10%;
  margin-top: 10%;
  background: url('New Picture (56).bmp');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}

footer {
  position: relative;
  bottom: 0px;
  background: black;
  width: 100%;
  color: white;
}
.footer-text {
  text-align: center;
}
